@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  background-color: #1f2124;
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
}

a {
  color: inherit;
  text-decoration: none;
  @apply hover:text-[#7f7fd5] duration-200 ease-in-out font-bold;
}

@layer utilities {
  .flex-center,
  .flex-center-row {
    @apply flex items-center justify-center;
  }
  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }

  .font-norm {
    font-weight: 400 !important;
  }

  .text-gradient {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
